@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');

.footer{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    /* background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #ff7c25 74%); */
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}

.footer >p {
    font-family: 'Rubik', sans-serif; 
}